<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .navbar a:hover {
    background-color: grey;
  }
  

</style>

<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/flashcard">Flashcard</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/createcard">Create Set</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="/search">Search</a></li>
        <!-- <td><a href="plan">Plan</a></td> -->
        <!-- <td><a href="/frq1">FRQ 1</a></td>
        <td><a href="/frq2">FRQ 2</a></td>
        <td><a href="/frq3">FRQ 3</a></td>
        <td><a href="/frq4">FRQ 4</a></td> -->
      </ul>
    </nav>
  </header>
  