<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<style>
header {
    background-color: #333;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 40px;
    font-size: 16px;
  }
  

</style>

<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Code Cards</a>

      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/flaschard">Flashcard</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/createcard">Create Set</a></li>
        <li><a href="/stats">Statistics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/search"><span class="glyphicon glyphicon-user"></span> Search</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  </header>
  
