---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
body {
  background-color: rgb(184, 213, 184);
  padding-left: 20px;
  padding-right: 20px; 
}

form {
  background-color: rgb(184, 213, 184);
  padding-left: 20px; 
}
table {
  background-color: rgb(184, 213, 184);
  padding-left: 20px; 
}
h2 {
  color: green 
}
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
    .button2:hover {

  }
  tbody{
    background-color: rgb(184, 213, 184);
  }
  input[type=text] {
    border: 4px solid green;
    border-radius: 4px;
  }
  
  input[id=submit-button], button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  button:disabled {
     cursor: not-allowed;
  }
  
  input[id=submit-button]:hover, button:hover {
  }
 
  input[type=submit], button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  input[type=submit]:hover, button:hover {
    
  }

  input[type=email] {
    border: 4px solid green;
    border-radius: 4px;
  }

  input[type=password] {
    border: 4px solid green;
    border-radius: 4px;
  }
  
  .label {
    color: lime;
  }
